<h1>Lista de productos - Tiempo Real</h1>

<ul>
    <li>
        <a href="./">Principal</a>
    </li>
</ul>

<hr>

<div style="display: flex; flex-direction: row; justify-content: space-around; align-items: center;">
    <div style="display: flex;">
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <h2>Cargar</h2>

            <form id="realTimeFormCreate">
                <label>Title:</label>
                <input type="text" name="title" id="title" required>
                <br>
                <label>Description:</label>
                <input type="text" name="description" id="description" required>
                <br>
                <label>Price:</label>
                <input type="number" name="price" id="price" required>
                <br>
                <label>Thumbnail:</label>
                <input type="text" name="thumbnail" id="thumbnail">
                <br>
                <label>Code:</label>
                <input type="text" name="code" id="code" required>
                <br>
                <label>Stock:</label>
                <input type="number" name="stock" id="stock" required>
                <br>
                <label>Category:</label>
                <input type="text" name="category" id="category" required>
                <br>
                <button type="submit">Cargar</button>
            </form>
        </div>
    </div>

    <div style="display: flex;">
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <h2>Eliminar</h2>

            <form id="realTimeFormDelete">
                <label>ID:</label>
                <input type="number" name="id" id="id">
                <br>
                <button type="submit">Eliminar</button>
            </form>
        </div>
    </div>
</div>

<hr>

<h2>Productos</h2>

<div style="display: flex; flex-wrap: wrap" id="list">
    {{#if status}}
    {{/if}}
</div>

<script src="/socket.io/socket.io.js"></script>

<script src="/static/js/main.js"></script>